<footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
            <span class="text-muted d-flex align-items-center col-md-3 mb-2 mb-md-0">Made with ❤ by T37</span>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="/about-us" class="nav-link link-secondary px-2 mx-4">About Us</a>
                </li>
                <li>
                    <a href="/terms-of-service" class="nav-link link-secondary px-2 mx-4">Terms of Service</a>
                </li>
                <li>
                    <a href="/privacy" class="nav-link link-secondary px-2 mx-4">Privacy</a>
                </li>
                <li>
                    <a href="/contact-us" class="nav-link link-secondary px-2 mx-4">Contact Us</a>
                </li>
            </ul>
            <span class="col-md-3 text-end text-muted">
                <%if (typeof photo_credit != 'undefined' && photo_credit) {%>
                    <%- photo_credit + ' | ' %>
                <%}%>
                &copy; T37 2021
            </span>
        </div>
    </div>
</footer>