<header class='p-3 bg-dark text-white mb-auto'>
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none navbar-brand">
                DEMETER
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                    <a href="/" class="nav-link text-secondary"> <!-- color should be dynamic, using JQuery -->
                        <svg class="bi d-block mx-auto mb-1" width="32" height="32" fill="currentColor">
                            <use xlink:href="img/bootstrap-icons.svg#house-door"/>
                        </svg>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/dashboard" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="32" height="32" fill="currentColor">
                            <use xlink:href="img/bootstrap-icons.svg#grid"/>
                        </svg>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/feedback" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="32" height="32" fill="currentColor">
                            <use xlink:href="img/bootstrap-icons.svg#chat-left-quote"/>
                        </svg>
                        Feedback
                    </a>
                </li>
                <li>
                    <a href="/login" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="32" height="32" fill="currentColor">
                            <use xlink:href="img/bootstrap-icons.svg#person-circle"/>
                        </svg>
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>