<!--
details
    * name
    * email
    * phone (?)
password management (change+recover)
settings
delete account
-->

<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Account | Demeter</title>
    <meta name="description" content="Account page">
    <%- include ("../partials/header.ejs") %>
</head>

<body class='d-flex flex-column h-100 bg-dark'>
    <% current_page = "Account" %>
    <%- include ("../partials/nav.ejs") %>
    <%- include ("../partials/footer.ejs") %>
</body>
