<section id=feedback class='d-none'>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Feedback</h1>
    </div>

    <form class="row g-3" action="/feedback" method="post">
        <div class="col-md-6">
            <label for="location" class="form-label">Your location</label>
            <input type='text' name='location' class="form-control" id="location" required>
        </div>
        <div class="col-md-6">
            <label for="kitchen" class="form-label">Kitchen</label><br>
            <select id="kitchen" name="kitchen" required class="form-select">
                <option value="">Select a kitchen</option>
                    <% if (typeof kitchens != 'undefined') {
                    kitchens.rows.forEach(function(k) { %>
                        <option value="<%= k.location %>"><%= k.location %></option>
                    <% });
                    } %>
            </select>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name='temperature' id="temperature">
                <label class="form-check-label" for="temperature">Food temperature below 65°</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name='delivery' id="delivery">
                <label class="form-check-label" for="delivery">Delivery time over four hours late</label>
            </div>
        </div>
        <div class="col-6">
            <label for="comment" class="form-label">Comments (optional)</label><br>
            <textarea
                    id="comment" name="comment"
                    rows=2
                    spellcheck=true
                    minlength=1 maxlength='2048'
                    aria-describedby="feedbackHelpBlock"
                    class="form-control"></textarea>
            <div id="feedbackHelpBlock" class="form-text text-white">
                Please tell us about the problem you encountered or the quality of the service to help us optimize your experience.
            </div>
        </div>
        <div class="col-12">
            <input type="submit" value="Submit" class='btn btn-outline-primary'>
        </div>
    </form>

    <% if (typeof errors != 'undefined') { %>
        <ul>
            <% errors.forEach(function(e) { %>
                <li><%= e.msg %></li>
            <% }); %>
        </ul>
    <% } %>
</section>