<section id='policies' class='d-none'>
    <ul>
        <li></li>
        <li>Download <a href="/files/amazing.txt">amazing.txt</a>.</li>
        <li>Download <a href="/files/missing.txt">missing.txt</a>.</li>
        <li>Download <a href="/files/CCTV大赛上海分赛区.txt">CCTV大赛上海分赛区.txt</a>.</li>
    </ul>
</section>