<section id='recipe-planner' class='d-none'>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Recipe Planner</h1>
    </div>
    <!--
    kitchen
    recipe
    ingredients

    category :
        - non-compliant
		- young children : 450cal + 12gr proteins
		- older children : 700cal + 20gr proteins
    -->
</section>