html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
	height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}
/*
body{
    background: #2F3035;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    height: 118px;
    text-align: center;
}

nav{
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main{
    height: 400px;
    text-align: center;
    padding-top: 60px;
    padding-left: 240px;
    padding-right: 240px;
}

footer{
    background: rgba(0,0,0,0.7);
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1{
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
*/
/*
nav a{
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p{
    font-size: 10px;
    text-align: center;
}

nav img{
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.feedback-form{
    background-color: #fff;
    margin-top: 7%;
    margin-bottom: 3%;
}

.feedback-form .form-control{
    border-radius: 1rem;
}

.feedback-image{
    text-align: center;
}

.feedback-image img{
    border-radius: 6rem;
    width: 50%;
    margin-top: 3%;
}

.feedback-form form{
    padding: 14%;
}

.feedback-form form .row{
    margin-bottom: -7%;
}

.feedback-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: greenyellow;
}

.feedback-form .btnFeedback{
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: greenyellow;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.feedback-form .mr-sm-2{
    margin: 20px;
}

.feedback-form .custom-select{
    margin: 0;
}
*/

.navbar-brand {
	letter-spacing: 3px;
}