<!--
about the team
where are from, where we are now
-->

<!DOCTYPE html>
<html lang='en'>
<head>
    <title>About Us | Demeter</title>
    <meta name="description" content="About Us page">
    <%- include ("../partials/header.ejs") %>
</head>

<body class='bg-body d-flex flex-column h-100 bg-dark'>
<% current_page = "About Us" %>

<%- include ("../partials/nav.ejs") %>

<div class="container mt-5">
    <h2 class="h2-responsive font-weight-bold text-center my-5">Meet our team members</h2>
    <div class="row justify-content-center">
        <!-- Team Member 1 -->
        <div class="col-xl-2 col-md-3 col-sm-6 col-6 mb-4 align-self-center">
            <div class="card border-0 shadow">
                <img src="/img/Antoine.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Antoine Sébert</h5>
                    <div class="card-text text-black-50">CTO</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-2 col-md-3 col-sm-6 col-6 mb-4 align-self-center">
            <div class="card border-0 shadow">
                <img src="/img/Alexander.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Alexander Kristjánsson</h5>
                    <div class="card-text text-black-50">CFO</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-2 col-md-3 col-sm-6 col-6 mb-4 align-self-center">
            <div class="card border-0 shadow">
                <img src="/img/Alvaro.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Álvaro Romero</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-2 col-md-3 col-sm-6 col-6 mb-4 align-self-center">
            <div class="card border-0 shadow">
                <img src="/img/Sai1.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Mahesh Nadukuru</h5>
                    <div class="card-text text-black-50">Head of Marketing</div>
                </div>
            </div>
        </div>
        <!-- Team Member 5 -->
        <div class="col-xl-2 col-md-3 col-sm-6 col-6 mb-4 align-self-center">
            <div class="card border-0 shadow">
                <img src="/img/Lasse1.png   " class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Lasse Pedersen</h5>
                    <div class="card-text text-black-50">CEO</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>


<%- include ("../partials/footer.ejs") %>
</body>