<!--
about the team
where are from, where we are now
-->

<!DOCTYPE html>
<html lang='en'>
<head>
    <title>About Us | Demeter</title>
    <meta name="description" content="About Us page">
    <%- include ("../partials/header.ejs") %>
</head>

<body class='bg-body d-flex flex-column h-100 bg-dark'>
<% current_page = "About Us" %>

<%- include ("../partials/nav.ejs") %>

<div class="container mt-5">

    <div class="row justify-content-center">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-3 col-sm-6 col-6 mb-4">
            <div class="card border-0 shadow">
                <img src="/img/Antoine.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Antoine</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-3 col-sm-6 col-6 mb-4">
            <div class="card border-0 shadow">
                <img src="/img/Alex.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Alex</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-3 col-sm-6 col-6 mb-4">
            <div class="card border-0 shadow">
                <img src="/img/Alvaro.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Alvaro</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-3 col-sm-6 col-6 mb-4">
            <div class="card border-0 shadow">
                <img src="/img/Sai.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Sai</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 5 -->
        <div class="col-xl-3 col-md-3 col-sm-6 col-6 mb-4">
            <div class="card border-0 shadow">
                <img src="/img/Lasse.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Lasse</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>


<%- include ("../partials/footer.ejs") %>
</body>