<!--
about the team
where are from, where we are now
-->

<!DOCTYPE html>
<html lang='en'>
<head>
    <title>About Us | Demeter</title>
    <meta name="description" content="About Us page">
    <%- include ("../partials/header.ejs") %>
</head>

<body class='d-flex flex-column h-100 bg-dark'>
<% current_page = "About Us" %>
<%- include ("../partials/nav.ejs") %>
<%- include ("../partials/footer.ejs") %>
</body>