<!--
contact info
-->

<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Contact Us | Demeter</title>
    <meta name="description" content="Do you see an opportunity in working with us ? Can our product fit your organization's needs ? Send us a message let's figure it out !">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

    <%- include ("../partials/header.ejs") %>
</head>

<style type="text/css">
    body{
        background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(234, 249, 251, 0.63) 0.1%, rgba(239,
        249, 251, 0.63) 90.1%);
    }
</style>


<body class='d-flex flex-column h-100 bg-dark'>
    <% current_page = "Contact Us" %>
    <%- include ("../partials/nav.ejs") %>

    <div class="container centered">
        <section class="mb-4">
            <h2 class="text-white h2-responsive font-weight-bold text-center my-5">Contact Us</h2>
            <p class="text-white text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back
                to you within a matter of hours to help yopu.</p>

            <div class="row">
                <div class="col-md-12 col-md-offset-2">
                    <form id="contactform">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" name="name" class="text-white form-control" placeholder="Your name">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" name="email" class="text-white form-control" placeholder="Your email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" name="subject" class="text-white form-control" placeholder="Subject">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <textarea type="text" name="message" rows="3" class=
                                    "text-white form-control md-textarea" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="text-center text-md-left">
                            <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

<!--    &lt;!&ndash; JQuery &ndash;&gt;
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    &lt;!&ndash; Bootstrap tooltips &ndash;&gt;
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    &lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    &lt;!&ndash; MDB core JavaScript &ndash;&gt;
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>-->

    <%- include ("../partials/footer.ejs") %>
</body>