<!--
contact info
-->

<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Contact Us | Demeter</title>
    <meta name="description" content="Do you see an opportunity in working with us ? Can our product fit your organization's needs ? Send us a message let's figure it out !">
    <%- include ("../partials/header.ejs") %>
</head>

<body class='d-flex flex-column h-100 bg-dark'>
    <% current_page = "Contact Us" %>
    <%- include ("../partials/nav.ejs") %>
    <%- include ("../partials/footer.ejs") %>
</body>