<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="public/stylesheets/style.css">

</head>
<body>
    <div class="container feedback-form">

        <div class="feedback-image">
            <img src="public/feedback.jpg" alt="">
        </div>

        <form method="POST">
            <h3>Drop Us A Feedback</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your phone number">
                    </div>
                    <textarea name="txtMsg" class="form-control" placeholder="Your Message or Suggestion"
                              style="height: 150px;margin-bottom: 8px"></textarea>
                    <div class="form-group">
                        <input type="submit" name="btnsubmit" class="btnFeedback" value="Send Feedback"
                        style="outline: none">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="TxtEmail" id="InputEmail" class="form-control" placeholder="Your email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Are you satisfied with our service?</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Choose...</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>