<!DOCTYPE html>
<html lang='en'>

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
<% if (is_auth) { %>
    <h2>retrieve feedback</h2>
<% } else { %>
    <form action="/feedback" method="post">
        <label for="location">Location (optional)</label><br>
        <input type="text" id="location" name="location">
        <br>
        <label for="content">Your feedback</label><br>
        <textarea id="content" name="content" rows="4" cols="50" spellcheck=true maxlength='4096' required></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
<% } %>
</body>