<!DOCTYPE html>
<html lang='en'>

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
<%
if (typeof is_auth == 'object') {
    if (is_auth) { %>
    <h2>retrieve feedback</h2>
<%  }
} else { %>
    <form action="/feedback" method="post">
        <label for="location">Location (optional)</label><br>
        <input type="text" id="location" name="location">
        <br>
        <label for="feedback">Your feedback</label><br>
        <textarea
            id="feedback" name="feedback"
            rows="4" cols="50"
            spellcheck=true
            minlength=1 maxlength='4096'
            required></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
<% } %>

<% if (typeof errors == 'object') { %>
    <ul>
        <% errors.forEach(function(e) { %>
            <li><%= e.msg %></li>
        <% }); %>
    </ul>
<% } %>
</body>