<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demeter | Home</title>
    <meta name="description" content="Demeter home page. We are trying to help organizations build a better world.">
    <%- include ("../partials/header.ejs") %>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>

<body class="d-flex flex-column h-100 bg-dark">
    <% current_page = "Home" %>
    <%- include ("../partials/nav.ejs") %>

    <div id='cover' class='px-3 vh-100 position-relative'>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle text-left text-white">
        <h1 class='display-2 fw-bolder'>Balanced life</h1>
        <h2 class='display-5'>Don't focus on how you eat. Focus on what you eat.</h2>
        <p class='text-center mt-5'>
            <a href="/learn-more" class="btn btn-outline-light btn-lg" role="button">Take the tour</a>
        </p>
    </div>

    <% photo_credit = 'Photo by <a href="https://unsplash.com/@danielcgold?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dan Gold</a>' +
            ' on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>'; %>
    <%- include ("../partials/footer.ejs") %>
</body>
</html>