<!doctype html>
<html lang="en">
<head>
    <title>Demeter | Take care of yourself</title>
    <meta name="description" content="Demeter landing page">

    <%- include ("../partials/header.ejs") %>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="scripts/landing.js" type='application/javascript'></script>
</head>

<body onload="init()">
<%- include ("../partials/nav.ejs") %>

<section class="showcase">
    <header>
        <h2 class="logo">Demeter</h2>
        <div class="toggle"></div>
    </header>

    <video src="explore.mp4" muted loop autoplay></video>

    <div class="overlay"></div>

    <div class="text">
        <h2>Balanced life</h2>
        <h3>Don't focus on how you eat. Focus on what you eat</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
            dolores ea libero quae tenetur vero vitae! Ipsum maiores rem totam!</p>
        <a href="#">About Us</a>
    </div>
</section>

<nav class="menu">
    <ul>
        <li><a href="login.ejs">Login</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Feedback</a></li>
    </ul>
</nav>
</body>
</html>