<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demeter | Take care of yourself</title>
    <meta name="description" content="Demeter landing page"> <!-- Need better description -->
    <%- include ("../partials/header.ejs") %>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>

<body class="d-flex flex-column h-100 bg-dark">
    <%- include ("../partials/nav.ejs") %>

    <div id='cover' class='px-3 vh-100 position-relative'>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle text-left text-white">
        <h1 class='display-2'>Balanced life</h1>
        <h3 class='display-5'>Don't focus on how you eat. Focus on what you eat.</h3>
        <p class='text-center mt-5'>
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark">Learn more</a>
        </p>

    </div>

    <%- include ("../partials/footer.ejs") %>
</body>
</html>