<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DEMETER | Let´s us help you</title>
    <link rel="stylesheet" href="public/stylesheets/style.css">
</head>

<body>

<div class="container">
    <header>
        <!-- <img src="" alt="Logo of Demter App"> -->
    </header>

    <nav>
        <a href="#">Account</a>
        <a href="#">Calculator</a>
        <a href="#">Dashboard</a>
        <a href="#">DataBase</a>
        <a href="#">Recipe</a>
        <a href="#">Feedback</a>
    </nav>

    <main>
        <h1>let´s help</h1>
        <p>TEXT TO INTRODUCE THE USER OUR APP</p>
        <p style="text-decoration: underline">OUR TEAM</p>
        <!--
        <nav>
            <img src="public/Lasse.jpg" alt="Lasse">
            <img src="public/Alex.jpg" alt="Alex">
            <img src="public/Antoine.jpg" alt="Antoine">
            <img src="public/Alvaro.jpg" alt="Alvaro">
            <img src="public/Sai.jpg" alt="Sai">
        </nav>                                                                                      alt="">
        -->
    </main>

    <footer>
        <p>Anker Engelunds Vej 1 Bygning 101A, 2800 Kgs. Lyngby - Copyright 2021©</p>
    </footer>

</div>
</body>

</html>