<!--
about our product
-->

<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Learn More | Demeter</title>
    <meta name="description" content="Learn More page">
    <%- include ("../partials/header.ejs") %>
</head>

<body class='d-flex flex-column h-100 bg-dark'>
<% current_page = "Learn More" %>
<%- include ("../partials/nav.ejs") %>
<%- include ("../partials/footer.ejs") %>
</body>
