<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Privacy Notice | Demeter</title>
    <meta name="description" content="Our Privacy Notice informs organizations and end-users about the data we collect to ensure an optimal functioning of the platform.">
    <%- include ("../partials/header.ejs") %>
</head>

<body class='d-flex flex-column h-100 bg-dark'>
<% current_page = "Privacy Notice" %>
<%- include ("../partials/nav.ejs") %>

<!--
data for public website we collect and why
-->

<!--
if authenticated
data for application we collect and why
-->

<%- include ("../partials/footer.ejs") %>
</body>