<!--
data we collect and why
-->

<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Privacy Notice | Demeter</title>
    <meta name="description" content="Privacy Notice page">
    <%- include ("../partials/header.ejs") %>
</head>

<body class='d-flex flex-column h-100 bg-dark'>
<% current_page = "Privacy Notice" %>
<%- include ("../partials/nav.ejs") %>
<%- include ("../partials/footer.ejs") %>
</body>