<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Terms of Service | Demeter</title>
    <meta name="description" content="You can read the Terms of Service page of our platform here. The platform includes a the public website and the nonpublic nutrition web-application.">
    <%- include ("../partials/header.ejs") %>
</head>

<body class='d-flex flex-column h-100 bg-dark'>
<% current_page = "Terms of Service" %>
<%- include ("../partials/nav.ejs") %>

<!--
about using the platform
-->

<%- include ("../partials/footer.ejs") %>
</body>